{% extends 'base.html' %}

{% block header %}
    {% block title %}Generator{% endblock %}
    <a class="action" href="{{ url_for('generator.new_account') }}">New account</a>
{% endblock %}

{% block main %}
    {% for account in accounts %}
    <div class="account">
        {{ account['account'] }}
        {{ account['password'] }}
        {{ account['last_password'] }}
        {% if {{ account['updated'] }} == 0 %}
            <a class="btn btn-primary" href="{{ url_for('generator.update', id=account['id']) }}">Update</a>
        {% else %}
            <button type="button" class="btn btn-secondary" disabled>Updated</button>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
