{% extends 'layout.html' %}

{% block header %}
    {% block title %}Generator{% endblock %}
    <a class="btn btn-success" href="{{ url_for('generator.new_account') }}">New account</a>
{% endblock %}

{% block main %}
    {% for account in accounts %}
    <div class="account">
        <div>{{ account['account'] }}</div>
        <div>{{ account['password'] }}</div>
        <div>{{ account['last_password'] }}</div>
        {% if account['updated'] == 0 %}
            <a class="btn btn-primary" href="#">Update</a>
        {% else %}
            <a class="btn btn-secondary" href="#">Updated</a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
