{% extends 'layout.html' %}

{% block header %}
    {% block title %}Generator{% endblock %}
    <a class="btn btn-success" href="{{ url_for('generator.new_account') }}">New account</a>
{% endblock %}

{% block main %}
    {% for account in accounts %}
    <nav class="navbar navbar-expand-md navbar-light bg-light account">
        <div class="navbar-brand">{{ account['account'] }}</div>

        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-target="#nav{{ account['id'] }}" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav{{ account['id'] }}">
            <ul class="navbar-nav mr-auto mt-2 col-9 account_data">
                <li class="nav-item">Password:<br/>{{ account['password'] }}</li>
                <li class="nav-item">Last Password:<br/>{{ account['last_password'] }}</li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 col-3 account_ctrl">
                {% if account['updated'] == 1 %}
                <li class="nav-item">
                    <form action="{{ url_for('generator.update', id=account['id']) }}" method="POST">
                        <input type="submit" class="btn btn-primary" value="Update" onclick="return confirm('Are you sure you wanna update your password?');"/>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <form action="{{ url_for('generator.updated', id=account['id']) }}" method="POST">
                        <input type="submit" class="btn btn-secondary" value="Updated" onclick="return confirm('Are you sure you changed you password manually? Only confirm it if you did!');"/>
                    </form>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form action="{{ url_for('generator.delete', id=account['id']) }}" method="POST">
                        <input id="close" type="submit" class="close" value="&times;" onclick="return confirm('Are you sure you wanna delete this account?');"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    {% endfor %}
{% endblock %}
