atomicwrites==1.3.0
attrs==19.3.0
Click==7.0
colorama==0.4.1
coverage==4.5.4
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
# Editable Git install with no remote (psswd==1.0)
-e c:\users\vm-st-03\prog\password_generator
py==1.8.0
pyparsing==2.4.2
pytest==5.2.2
python-dotenv==0.10.3
six==1.12.0
wcwidth==0.1.7
Werkzeug==0.16.0
