{% extends 'base.html' %}

{% block header %}
    {% block title %}Register{% endblock %}
{% endblock %}

{% block main %}
    <form method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="username">Create your username:</label>
            <input id="username" type="text" autocomplete="off" class="form-control mb-2" name="username" placeholder="Username" required/>
            <div class="invalid-feedback">Username is required!</div>
        </div>

        <div class="form-group">
            <label for="email">Chosse an email for possible password recover:</label>
            <input id="email" type="email" class="form-control mb-2" name="email" placeholder="E-mail" required/>
            <div class="invalid-feedback">Provide an email for possible recover of passwords!</div>
        </div>

        <div class="form-group">
            <label for="password">Create the only password you'll need to remember:</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required/>
            <input type="password" class="form-control" name="psswd_cf" placeholder="Confirm your password" required/>
            <div class="invalid-feedback">Password and confirmation are required!</div>
        </div>

        <button type="submit" class="btn btn-primary col-12">Register</button>
    </form>

    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
